In [2]:
import pandas as pd
import numpy as np

# Tên biểu đồ

In [3]:
keyword = pd.read_excel("/Users/tranxuanhuy/Documents/Viettel Digital Talent/Chatbot/Code/data/keyword_from_Mr_Hao.xlsx")
keyword

,Tên biểu đồ,Code chart,Keyword
0,Biểu đồ cảnh báo 2,ALARM_CHART_2,Thông tin chỉ tiêu
1,Biểu đồ RANK,RANK,Xếp hạng
2,Biểu đồ đường,LINE,Xu thế
3,Biểu đồ cột,COLUMN,"Tăng trưởng, hoàn thành"
4,Biểu đồ cơ cấu,PIE,Cơ cấu
5,Biểu đồ kết hợp đường và cột,COMBINE,Tăng giảm
6,Biểu đồ thị phần,TYPE_CHART_TABLE_THI_PHAN,Thị phần

In [4]:
cat_item2 = pd.read_csv("/Users/tranxuanhuy/Documents/Viettel Digital Talent/Chatbot/Code/data/CAT_ITEM_202309051345.csv")
cat_item2.drop(columns=["CONTENT", "EDITABLE", "PARENT_ITEM_ID", "CATEGORY_ID", "UPDATE_TIME", "UPDATE_USER",
                       "CATEGORY_CODE"], inplace=True)
cat_item2

,ITEM_ID,ITEM_CODE,ITEM_NAME,ITEM_VALUE,POSITION,DESCRIPTION,STATUS
0,990,TYPE_CHART_TABLE,Biểu đồ TABLE,TABLE,17.0,TABLE,1
1,918,TYPE_CHART_LINE_DASHED,LINE_DASHED chart,LINE_DASHED,17.0,Biểu đồ LINE_DASHED,0
2,306083,TYPE_CHART_ALARM_CHART_2,Biểu đồ cảnh báo 2,ALARM_CHART_2,21.0,Biểu đồ cảnh báo 2,1
3,915,TYPE_CHART_INFO_MAIN,Biểu đồ INFO_MAIN,INFO_MAIN,14.0,INFO_MAIN,1
4,916,TYPE_CHART_SHARE_TIME,Biểu đồ cơ cấu cột chồng,SHARE_TIME,15.0,SHARE_TIME,1
5,917,TYPE_CHART_RANK,Biểu đồ RANK,RANK,16.0,RANK,1
6,304828,TYPE_CHART_NESTED_PIE,Biểu đồ NESTED_PIE,NESTED_PIE,20.0,Biểu đồ NESTED_PIE,1
7,304802,TYPE_CHART_BLOCK_INFO,Biểu đồ BLOCK_INFO,BLOCK_INFO,19.0,Biểu đồ BLOCK_INFO,1
8,305027,BLOCK_INFO_2,Biểu đồ BLOCK_INFO_2,BLOCK_INFO_2,19.0,Biểu đồ BLOCK_INFO_2,1
9,914,TYPE_CHART_INFO_OBJ,Biểu đồ INFO_OBJ,INFO_OBJ,13.0,INFO_OBJ,1
10,232,TYPE_CHART_ALARM_CHART,Biểu đồ cảnh báo,ALARM_CHART,7.0,Biểu đồ cảnh báo,1
11,233,TYPE_CHART_LINE,Biểu đồ đường,LINE,1.0,Biểu đồ đường,1
12,234,TYPE_CHART_COLUMN,Biểu đồ cột,COLUMN,2.0,Biểu đồ cột,1
13,235,TYPE_CHART_PIE,Biểu đồ cơ cấu,PIE,3.0,Biểu đồ cơ cấu,1
14,236,TYPE_CHART_AREA,Biểu đồ miền,AREA,4.0,Biểu đồ miền,1
15,237,TYPE_CHART_GROUP_BAR,Biểu đồ nhóm cột,GROUP_BAR,6.0,Biểu đồ nhóm cột,1
16,238,TYPE_CHART_STACK,Biểu đồ cột chồng,STACK,8.0,Biểu đồ cột chồng,1
17,239,TYPE_CHART_CORRELATE_CHART,Biểu đồ tương quan,CORRELATE_CHART,9.0,Biểu đồ tương quan,1
18,240,TYPE_CHART_RADAR,Biểu đồ radar,RADAR,11.0,Biểu đồ radar,1
19,241,TYPE_CHART_BAR,Biểu đồ cột ngang,BAR,5.0,Biểu đồ cột ngang,1
20,242,TYPE_CHART_COMBINE,Biểu đồ kết hợp đường và cột,COMBINE,10.0,Biểu đồ kết hợp đường và cột,1
21,263,TYPE_CHART_OVERVIEW,Biểu đồ tổng quan,OVERVIEW_CHART,12.0,Biểu đồ tổng quan,1
22,1091,TYPE_CHART_TABLE_2,Biểu đồ table 2,TABLE_2,NaN,Biểu đồ table 2,1
23,308180,TYPE_CHART_T_CHART,Biểu đồ chữ T,T_CHART,23.0,NaN,1
24,308192,TYPE_CHART_COMPOUND,Biểu đồ ghép cột,COMPOUND,22.0,NaN,1
25,3083506,CHART_MAP,Bản Đồ,CHART_MAP,NaN,NaN,1
26,3083540,RANKING,Biểu đồ ranking,RANKING_CHART,NaN,NaN,1
27,3083576,TYPE_CHART_REPORT,Chart báo cáo,TYPE_CHART_REPORT,NaN,Loại chart báo cáo,1
28,3083726,TYPE_CHART_TABLE_THI_PHAN,Biểu đồ thị phần,TYPE_CHART_TABLE_THI_PHAN,NaN,Biểu đồ thị phần,1

In [5]:
{
    'Biểu đồ ghép cột': ['Biểu đồ ghép cột','ghép cột', 'ghép cột chart', 'chart ghép cột', 'Biểu đồ ghép column','ghép column', 'ghép column chart', 'chart ghép column'],
    'Biểu đồ table 2': ['Biểu đồ table 2', 'table 2', 'table 2 chart', 'chart table 2', 'Biểu đồ bảng 2', 'bảng 2', 'bảng 2 chart', 'chart bảng 2'],
    'Biểu đồ đường': ['Biểu đồ đường', 'đường', 'đường chart', 'chart đường', 'Biểu đồ line', 'line', 'line chart', 'chart line'],
    'Biểu đồ NESTED_PIE': ['Biểu đồ NESTED_PIE', 'NESTED_PIE', 'NESTED_PIE chart', 'chart NESTED_PIE', 'Biểu đồ NESTED PIE', 'NESTED PIE', 'NESTED PIE chart', 'chart NESTED PIE', 'Biểu đồ tròn NESTED', 'tròn NESTED', 'tròn NESTED chart', 'chart tròn NESTED'],
    'Biểu đồ INFO_OBJ': ['Biểu đồ INFO_OBJ',  'INFO_OBJ', 'INFO_OBJ chart', 'chart INFO_OBJ', 'Biểu đồ INFO OBJ',  'INFO OBJ', 'INFO OBJ chart', 'chart INFO OBJ', 'INFORMATION OBJECT'],
    'Biểu đồ miền': ['Biểu đồ miền', 'miền', 'miền chart', 'chart miền', 'area chart'],
    'Biểu đồ cảnh báo 2': ['Biểu đồ cảnh báo 2', 'cảnh báo 2', 'cảnh báo 2 chart', 'chart cảnh báo 2'],
    'Biểu đồ cơ cấu': ['Biểu đồ cơ cấu', 'cơ cấu', 'cơ cấu chart', 'chart cơ cấu'],
    'Biểu đồ BLOCK_INFO': ['Biểu đồ BLOCK_INFO', 'BLOCK_INFO', 'BLOCK_INFO chart', 'chart BLOCK_INFO', 'Biểu đồ BLOCK INFO', 'BLOCK INFO', 'BLOCK INFO chart', 'chart BLOCK INFO'],
    'Biểu đồ cơ cấu cột chồng': ['Biểu đồ cơ cấu cột chồng', 'cơ cấu cột chồng', 'cơ cấu cột chồng chart', 'chart cơ cấu cột chồng', 'Biểu đồ cơ cấu column chồng', 'cơ cấu column chồng', 'cơ cấu column chồng chart', 'chart cơ cấu column chồng'],
    'Biểu đồ cột': ['Biểu đồ cột', 'cột', 'cột chart', 'chart cột', 'Biểu đồ column', 'column', 'column chart', 'chart column'],
    'Biểu đồ cảnh báo': ['Biểu đồ cảnh báo', 'cảnh báo', 'cảnh báo chart', 'chart cảnh báo'],
    'Biểu đồ radar': ['Biểu đồ radar', 'radar', 'radar chart', 'chart radar'],
    'Biểu đồ RANK': ['Biểu đồ RANK', 'RANK', 'RANK chart', 'chart RANK'],
    'Biểu đồ ranking': ['Biểu đồ ranking', 'ranking', 'ranking chart', 'chart ranking'],
    'Biểu đồ nhóm cột': ['Biểu đồ nhóm cột', 'nhóm cột', 'nhóm cột chart', 'chart nhóm cột', 'Biểu đồ column group', 'column group', 'column group chart', 'column group'],
    'Biểu đồ BLOCK_INFO_2': ['Biểu đồ BLOCK_INFO_2', 'BLOCK_INFO_2', 'BLOCK_INFO_2 chart', 'chart BLOCK_INFO_2', 'Biểu đồ BLOCK INFO 2', 'BLOCK INFO 2', 'BLOCK INFO 2 chart', 'chart BLOCK INFO 2'],
    'Biểu đồ TABLE': ['Biểu đồ TABLE', 'TABLE', 'TABLE chart', 'chart TABLE', 'Biểu đồ bảng', 'bảng', 'bảng chart', 'chart bảng'],
    'Biểu đồ INFO_MAIN': ['Biểu đồ INFO_MAIN', 'INFO_MAIN', 'INFO_MAIN chart', 'chart INFO_MAIN', 'Biểu đồ INFO MAIN', 'INFO MAIN', 'INFO MAIN chart', 'chart INFO MAIN'],
    'Biểu đồ kết hợp đường và cột': ['Biểu đồ kết hợp đường và cột', 'kết hợp cột và đường', 'kết hợp đường và cột chart', 'chart kết hợp cột và đường', 'Biểu đồ kết hợp column và line', 'kết hợp line và column', 'kết hợp column và line chart', 'chart kết hợp line và column'],
    'Biểu đồ tổng quan': ['Biểu đồ tổng quan', 'tổng quan', 'tổng quan chart', 'chart tổng quan', 'Biểu đồ overview', 'overview', 'overview chart', 'chart overview'],
    'Biểu đồ tương quan': ['Biểu đồ tương quan', 'tương quan', 'tương quan chart', 'chart tương quan', 'Biểu đồ correlation', 'correlation', 'correlation chart', 'chart correlation'],
    'Biểu đồ chữ T': ['Biểu đồ chữ T', 'chữ T', 'chữ T chart', 'chart chữ T', 'Biểu đồ word T', 'char T', 'char T chart', 'chart word T'],
    'Biểu đồ thị phần': ['Biểu đồ thị phần', 'thị phần', 'thị phần chart', 'chart thị phần', 'Biểu đồ pie', 'pie', 'pie chart', 'chart pie'],
    'Chart báo cáo': ['Chart báo cáo', 'Biểu đồ báo cáo', 'Chart report', 'Biểu đồ report', 'report', 'báo cáo chart', 'báo cáo biểu đồ', 'report chart', 'report biểu đồ'],
    'Biểu đồ cột chồng': ['Biểu đồ cột chồng', 'cột chồng', 'cột chồng chart', 'chart cột chồng', 'Biểu đồ stacked column', 'stacked column', 'stacked column chart', 'stacked column chart'],
    'Bản Đồ': ['Bản Đồ', 'map'],
    'LINE_DASHED chart': ['LINE_DASHED chart', 'biểu đồ LINE_DASHED', 'LINE_DASHED', 'LINE DASHED chart', 'biểu đồ LINE DASHED', 'LINE DASHED', 'đường DASHED chart', 'biểu đồ đường DASHED', 'đường DASHED'],
    'Biểu đồ cột ngang': ['Biểu đồ cột ngang', 'cột ngang', 'cột ngang chart', 'chart cột ngang', 'Biểu đồ horizontal bar', 'horizontal bar', 'horizontal bar chart', 'chart horizontal bar']
}

{'Biểu đồ ghép cột': ['Biểu đồ ghép cột',
  'ghép cột',
  'ghép cột chart',
  'chart ghép cột',
  'Biểu đồ ghép column',
  'ghép column',
  'ghép column chart',
  'chart ghép column'],
 'Biểu đồ table 2': ['Biểu đồ table 2',
  'table 2',
  'table 2 chart',
  'chart table 2',
  'Biểu đồ bảng 2',
  'bảng 2',
  'bảng 2 chart',
  'chart bảng 2'],
 'Biểu đồ đường': ['Biểu đồ đường',
  'đường',
  'đường chart',
  'chart đường',
  'Biểu đồ line',
  'line',
  'line chart',
  'chart line'],
 'Biểu đồ NESTED_PIE': ['Biểu đồ NESTED_PIE',
  'NESTED_PIE',
  'NESTED_PIE chart',
  'chart NESTED_PIE',
  'Biểu đồ NESTED PIE',
  'NESTED PIE',
  'NESTED PIE chart',
  'chart NESTED PIE',
  'Biểu đồ tròn NESTED',
  'tròn NESTED',
  'tròn NESTED chart',
  'chart tròn NESTED'],
 'Biểu đồ INFO_OBJ': ['Biểu đồ INFO_OBJ',
  'INFO_OBJ',
  'INFO_OBJ chart',
  'chart INFO_OBJ',
  'Biểu đồ INFO OBJ',
  'INFO OBJ',
  'INFO OBJ chart',
  'chart INFO OBJ',
  'INFORMATION OBJECT'],
 'Biểu đồ miền': ['Biểu đồ miền',
  'miền',
  'miền chart',
  'chart miền',
  'area chart'],
 'Biểu đồ cảnh báo 2': ['Biểu đồ cảnh báo 2',
  'cảnh báo 2',
  'cảnh báo 2 chart',
  'chart cảnh báo 2'],
 'Biểu đồ cơ cấu': ['Biểu đồ cơ cấu',
  'cơ cấu',
  'cơ cấu chart',
  'chart cơ cấu'],
 'Biểu đồ BLOCK_INFO': ['Biểu đồ BLOCK_INFO',
  'BLOCK_INFO',
  'BLOCK_INFO chart',
  'chart BLOCK_INFO',
  'Biểu đồ BLOCK INFO',
  'BLOCK INFO',
  'BLOCK INFO chart',
  'chart BLOCK INFO'],
 'Biểu đồ cơ cấu cột chồng': ['Biểu đồ cơ cấu cột chồng',
  'cơ cấu cột chồng',
  'cơ cấu cột chồng chart',
  'chart cơ cấu cột chồng',
  'Biểu đồ cơ cấu column chồng',
  'cơ cấu column chồng',
  'cơ cấu column chồng chart',
  'chart cơ cấu column chồng'],
 'Biểu đồ cột': ['Biểu đồ cột',
  'cột',
  'cột chart',
  'chart cột',
  'Biểu đồ column',
  'column',
  'column chart',
  'chart column'],
 'Biểu đồ cảnh báo': ['Biểu đồ cảnh báo',
  'cảnh báo',
  'cảnh báo chart',
  'chart cảnh báo'],
 'Biểu đồ radar': ['Biểu đồ radar', 'radar', 'radar chart', 'chart radar'],
 'Biểu đồ RANK': ['Biểu đồ RANK', 'RANK', 'RANK chart', 'chart RANK'],
 'Biểu đồ ranking': ['Biểu đồ ranking',
  'ranking',
  'ranking chart',
  'chart ranking'],
 'Biểu đồ nhóm cột': ['Biểu đồ nhóm cột',
  'nhóm cột',
  'nhóm cột chart',
  'chart nhóm cột',
  'Biểu đồ column group',
  'column group',
  'column group chart',
  'column group'],
 'Biểu đồ BLOCK_INFO_2': ['Biểu đồ BLOCK_INFO_2',
  'BLOCK_INFO_2',
  'BLOCK_INFO_2 chart',
  'chart BLOCK_INFO_2',
  'Biểu đồ BLOCK INFO 2',
  'BLOCK INFO 2',
  'BLOCK INFO 2 chart',
  'chart BLOCK INFO 2'],
 'Biểu đồ TABLE': ['Biểu đồ TABLE',
  'TABLE',
  'TABLE chart',
  'chart TABLE',
  'Biểu đồ bảng',
  'bảng',
  'bảng chart',
  'chart bảng'],
 'Biểu đồ INFO_MAIN': ['Biểu đồ INFO_MAIN',
  'INFO_MAIN',
  'INFO_MAIN chart',
  'chart INFO_MAIN',
  'Biểu đồ INFO MAIN',
  'INFO MAIN',
  'INFO MAIN chart',
  'chart INFO MAIN'],
 'Biểu đồ kết hợp đường và cột': ['Biểu đồ kết hợp đường và cột',
  'kết hợp cột và đường',
  'kết hợp đường và cột chart',
  'chart kết hợp cột và đường',
  'Biểu đồ kết hợp column và line',
  'kết hợp line và column',
  'kết hợp column và line chart',
  'chart kết hợp line và column'],
 'Biểu đồ tổng quan': ['Biểu đồ tổng quan',
  'tổng quan',
  'tổng quan chart',
  'chart tổng quan',
  'Biểu đồ overview',
  'overview',
  'overview chart',
  'chart overview'],
 'Biểu đồ tương quan': ['Biểu đồ tương quan',
  'tương quan',
  'tương quan chart',
  'chart tương quan',
  'Biểu đồ correlation',
  'correlation',
  'correlation chart',
  'chart correlation'],
 'Biểu đồ chữ T': ['Biểu đồ chữ T',
  'chữ T',
  'chữ T chart',
  'chart chữ T',
  'Biểu đồ word T',
  'char T',
  'char T chart',
  'chart word T'],
 'Biểu đồ thị phần': ['Biểu đồ thị phần',
  'thị phần',
  'thị phần chart',
  'chart thị phần',
  'Biểu đồ pie',
  'pie',
  'pie chart',
  'chart pie'],
 'Chart báo cáo': ['Chart báo cáo',
  'Biểu đồ báo cáo',
  'Chart report',
  'Biểu đồ report',
  'report',
  'báo cáo chart',
  'báo cáo biểu đồ',
  'report chart',
  'report biểu đồ'],
 'Biểu đồ cột chồng': ['Biểu đồ cột chồng',
  'cột chồng',
  'cột chồng chart',
  'chart cột chồng',
  'Biểu đồ stacked column',
  'stacked column',
  'stacked column chart',
  'stacked column chart'],
 'Bản Đồ': ['Bản Đồ', 'map'],
 'LINE_DASHED chart': ['LINE_DASHED chart',
  'biểu đồ LINE_DASHED',
  'LINE_DASHED',
  'LINE DASHED chart',
  'biểu đồ LINE DASHED',
  'LINE DASHED',
  'đường DASHED chart',
  'biểu đồ đường DASHED',
  'đường DASHED'],
 'Biểu đồ cột ngang': ['Biểu đồ cột ngang',
  'cột ngang',
  'cột ngang chart',
  'chart cột ngang',
  'Biểu đồ horizontal bar',
  'horizontal bar',
  'horizontal bar chart',
  'chart horizontal bar']}

# Dashboard List

In [6]:
dashboard_id = pd.read_csv("/Users/tranxuanhuy/Documents/Viettel Digital Talent/Chatbot/Code/data/CONFIG_DASHBOARD_202309051338.csv")
dashboard_id.drop(columns=['UPDATE_TIME', 'UPDATE_USER', 'DESCRIPTION', 'STATUS'], inplace=True)
dashboard_id

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID
0,3581,Doanh thu dịch vụ nhóm VTT,0,NaN,2028,2773.0
1,3582,Doanh thu dịch vụ nhóm VDS,0,NaN,2028,2778.0
2,3517,Doanh thu dịch vụ SME,0,NaN,2023,2721.0
3,3518,Doanh thu dịch vụ di động,0,NaN,2023,2717.0
4,3519,Doanh thu dịch vụ nhóm VTS,0,NaN,2023,2722.0
...,...,...,...,...,...,...
3889,10765,Tổng doanh thu (trừ hubbing)_10765,0,NaN,3941,2422.0
3890,10766,Tổng doanh thu tài chính_10766,0,NaN,3941,2424.0
3891,10767,Doanh thu bán hàng giải pháp CNTT_10767,0,NaN,3941,2453.0
3892,10768,Doanh thu bán hàng y tế_10768,0,NaN,3941,2450.0
3893,10815,VTS,1,NaN,1959,NaN

In [10]:
dashboard_id[dashboard_id['PROFILE_ID']==1938]

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID
254,4979,LAO ĐỘNG BQ TRONG DS,0,NaN,1938,4193.0
356,5286,TỔNG DOANH THU (KD),0,NaN,1938,4529.0
357,5287,DT NỘI BỘ TĐ,0,NaN,1938,4528.0
467,4978,THU NHẬP BÌNH QUÂN,0,NaN,1938,4194.0
1024,5293,DT NGOÀI TĐ,0,NaN,1938,4527.0
1025,5294,"TƯ VẤN TK, GP KIÊN CỐ HTVT",0,NaN,1938,4526.0
1027,5301,CÁC LĨNH VỰC MỚI,0,NaN,1938,4524.0
1030,5299,KIỂM SOÁT CHẤT LƯỢNG,0,NaN,1938,4525.0
1256,4977,NĂNG SUẤT LAO ĐỘNG,0,NaN,1938,4195.0
1395,8276,DOANH THU DỊCH VỤ & SẢN XUẤT,0,NaN,1938,6552.0
1622,8826,TIẾN ĐỘ THỰC HIỆN NHIỆM VỤ,0,NaN,1938,7014.0
3320,3098,Lợi nhuận,0,NaN,1938,2337.0
3323,3099,Dòng tiền ròng,0,NaN,1938,2338.0
3324,3100,Doanh thu tài chính,0,NaN,1938,2339.0
3325,3101,TVTK,1,NaN,1938,NaN

In [23]:
dashboard_id[dashboard_id['DASHBOARD_NAME']=='Q.Ba Đình']

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID
3830,10675,Q.Ba Đình,1,NaN,3937,NaN
3870,10655,Q.Ba Đình,1,NaN,3936,NaN

## Check đơn vị dashboard bởi Dashboard Type == 1

In [4]:
dashboard_id = pd.read_csv("/Users/tranxuanhuy/Documents/Viettel Digital Talent/Chatbot/Code/data/CONFIG_DASHBOARD_202309051338.csv")
# dashboard_id.drop(columns=['UPDATE_TIME', 'UPDATE_USER', 'DESCRIPTION', 'STATUS'], inplace=True)
# dashboard_id = dashboard_id.applymap(lambda x: x.lower() if isinstance(x, str) else x)
dashboard_id['check_'] = dashboard_id['DASHBOARD_NAME'].apply(lambda x: 1 if x.find("_")>-1 else 0)
dashboard_id['check_2'] = dashboard_id.apply(lambda x: 1 if (x['check_']==1 and x['DASHBOARD_NAME'][x['DASHBOARD_NAME'].find("_")+1:]==str(x["ID"])) else 0, axis=1)
# dashboard_id = dashboard_id[dashboard_id['check_2']==0]
dashboard_id['DASHBOARD_NAME_NEW'] = dashboard_id.apply(lambda x: x['DASHBOARD_NAME'].replace("_"+str(x['ID']), "") if x['check_2']==1 else x['DASHBOARD_NAME'], axis=1)
condition = (dashboard_id['DASHBOARD_TYPE'] == 0) & (dashboard_id['MENU_ITEM_ID'].isna())
indices_to_drop = dashboard_id[condition].index
dashboard_id.drop(indices_to_drop, inplace=True)

profileid2donvi = {}
for profile_id in dashboard_id['PROFILE_ID'].unique():
    indexss = dashboard_id[(dashboard_id['PROFILE_ID']==profile_id)&(dashboard_id['DASHBOARD_TYPE']==1)].index
    if len(indexss) > 0:
        profileid2donvi[profile_id] = dashboard_id['DASHBOARD_NAME'].loc[dashboard_id[(dashboard_id['PROFILE_ID']==profile_id)&(dashboard_id['DASHBOARD_TYPE']==1)].index[0]]

dashboard_id['donvi'] = dashboard_id['PROFILE_ID'].apply(lambda x: profileid2donvi[x] if x in profileid2donvi.keys() else float('NaN'))
dashboard_id

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID,STATUS,DESCRIPTION,UPDATE_TIME,UPDATE_USER,check_,check_2,DASHBOARD_NAME_NEW,donvi
0,3581,Doanh thu dịch vụ nhóm VTT,0,NaN,2028,2773.0,1,NaN,2021-10-14 13:54:49.000,170635,0,0,Doanh thu dịch vụ nhóm VTT,Hải Phòng
1,3582,Doanh thu dịch vụ nhóm VDS,0,NaN,2028,2778.0,1,NaN,2021-10-14 13:52:28.000,170635,0,0,Doanh thu dịch vụ nhóm VDS,Hải Phòng
2,3517,Doanh thu dịch vụ SME,0,NaN,2023,2721.0,1,NaN,2021-10-14 11:31:27.000,170635,0,0,Doanh thu dịch vụ SME,Hưng Yên
3,3518,Doanh thu dịch vụ di động,0,NaN,2023,2717.0,1,NaN,2022-07-11 17:48:45.000,269413,0,0,Doanh thu dịch vụ di động,Hưng Yên
4,3519,Doanh thu dịch vụ nhóm VTS,0,NaN,2023,2722.0,1,NaN,2021-10-14 11:30:55.000,170635,0,0,Doanh thu dịch vụ nhóm VTS,Hưng Yên
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3889,10765,Tổng doanh thu (trừ hubbing)_10765,0,NaN,3941,2422.0,1,NaN,2023-07-21 10:27:04.000,269413,1,1,Tổng doanh thu (trừ hubbing),VTS_10763
3890,10766,Tổng doanh thu tài chính_10766,0,NaN,3941,2424.0,1,NaN,2023-07-21 10:27:04.000,269413,1,1,Tổng doanh thu tài chính,VTS_10763
3891,10767,Doanh thu bán hàng giải pháp CNTT_10767,0,NaN,3941,2453.0,1,NaN,2023-07-21 10:27:04.000,269413,1,1,Doanh thu bán hàng giải pháp CNTT,VTS_10763
3892,10768,Doanh thu bán hàng y tế_10768,0,NaN,3941,2450.0,1,NaN,2023-07-21 10:27:04.000,269413,1,1,Doanh thu bán hàng y tế,VTS_10763
3893,10815,VTS,1,NaN,1959,NaN,1,NaN,2023-08-18 16:35:27.000,269413,0,0,VTS,VTS

In [170]:
list(set(profileid2donvi.values()))[:5]

['kiên giang', 'vtz', 'vĩnh long', 'tập đoàn', 'dashboard khối cntt']

In [182]:
dashboard_id[(dashboard_id['check_']==0)&(dashboard_id['check_2']==0)]

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID,check_,check_2,DASHBOARD_NAME_NEW,donvi
0,3581,doanh thu dịch vụ nhóm vtt,0,NaN,2028,2773.0,0,0,doanh thu dịch vụ nhóm vtt,hải phòng
1,3582,doanh thu dịch vụ nhóm vds,0,NaN,2028,2778.0,0,0,doanh thu dịch vụ nhóm vds,hải phòng
2,3517,doanh thu dịch vụ sme,0,NaN,2023,2721.0,0,0,doanh thu dịch vụ sme,hưng yên
3,3518,doanh thu dịch vụ di động,0,NaN,2023,2717.0,0,0,doanh thu dịch vụ di động,hưng yên
4,3519,doanh thu dịch vụ nhóm vts,0,NaN,2023,2722.0,0,0,doanh thu dịch vụ nhóm vts,hưng yên
...,...,...,...,...,...,...,...,...,...,...
3872,10658,doanh thu dịch vụ sme,0,NaN,3936,8354.0,0,0,doanh thu dịch vụ sme,q.ba đình
3873,10659,doanh thu dịch vụ di động,0,NaN,3937,8346.0,0,0,doanh thu dịch vụ di động,q.ba đình
3875,10955,mở mới dự án,0,NaN,4017,8655.0,0,0,mở mới dự án,tập đoàn
3876,10975,giá trị giải ngân đầu tư cho dự án,0,NaN,4017,8653.0,0,0,giá trị giải ngân đầu tư cho dự án,tập đoàn
3893,10815,vts,1,NaN,1959,NaN,0,0,vts,vts

In [135]:
dashboard_id[dashboard_id['MENU_ITEM_ID']==6191.0]

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID,check_,check_2,DASHBOARD_NAME_NEW
929,7755,doanh thu dịch vụ & sản xuất,0,NaN,1631,6191.0,0,0,doanh thu dịch vụ & sản xuất
3452,9977,doanh thu dịch vụ & sản xuất_9977,0,NaN,3616,6191.0,1,1,doanh thu dịch vụ & sản xuất
3658,9997,doanh thu dịch vụ & sản xuất_9997,0,NaN,3636,6191.0,1,1,doanh thu dịch vụ & sản xuất
3673,10177,doanh thu dịch vụ & sản xuất_10177,0,NaN,3777,6191.0,1,1,doanh thu dịch vụ & sản xuất
3731,9917,doanh thu dịch vụ & sản xuất_9917,0,NaN,3596,6191.0,1,1,doanh thu dịch vụ & sản xuất

In [134]:
dashboard_id['MENU_ITEM_ID'].value_counts()

6191.0    5
1712.0    5
7531.0    5
6235.0    5
7511.0    5
         ..
4151.0    1
4150.0    1
4163.0    1
4162.0    1
8653.0    1
Name: MENU_ITEM_ID, Length: 3231, dtype: int64

In [133]:
dashboard_id['MENU_ITEM_ID'].value_counts().value_counts()

1    3084
2     114
3      18
5      13
4       2
Name: MENU_ITEM_ID, dtype: int64

In [113]:
dashboard_id[(dashboard_id['DASHBOARD_TYPE']==0)&(dashboard_id['MENU_ITEM_ID'].isna())]

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID,check_,check_2,DASHBOARD_NAME_NEW
3501,10535,VTAca Copy,0,NaN,3796,NaN,0,0,VTAca Copy
3522,9597,DT BÁN HÀNG Y TẾ,0,NaN,3479,NaN,0,0,DT BÁN HÀNG Y TẾ
3537,9845,Tập Đoàn Copy,0,NaN,3456,NaN,0,0,Tập Đoàn Copy
3618,9877,Doanh thu dịch vụ nhóm VDS Copy,0,NaN,2027,NaN,0,0,Doanh thu dịch vụ nhóm VDS Copy
3620,9595,DT BÁN HÀNG GIẢI PHÁP CNTT,0,NaN,3479,NaN,0,0,DT BÁN HÀNG GIẢI PHÁP CNTT
3629,9596,DT BÁN HÀNG GIÁO DỤC,0,NaN,3479,NaN,0,0,DT BÁN HÀNG GIÁO DỤC
3632,9598,DT BÁN HÀNG DA BQP,0,NaN,3479,NaN,0,0,DT BÁN HÀNG DA BQP
3638,9533,TIẾN ĐỘ THỰC HIỆN NHIỆM VỤ,0,NaN,3478,NaN,0,0,TIẾN ĐỘ THỰC HIỆN NHIỆM VỤ
3651,10515,VTT Copy,0,NaN,1792,NaN,0,0,VTT Copy
3669,10008,Thuê bao MOBILE MONEY_10008,0,NaN,3636,NaN,1,1,Thuê bao MOBILE MONEY
3684,10188,Thuê bao MOBILE MONEY_10188,0,NaN,3777,NaN,1,1,Thuê bao MOBILE MONEY
3697,9635,Thuê bao Truyền hình,0,NaN,1650,NaN,0,0,Thuê bao Truyền hình
3704,9815,THU NHẬP BÌNH QUÂN Copy,0,NaN,3476,NaN,0,0,THU NHẬP BÌNH QUÂN Copy
3735,9599,CHI PHÍ (TC),0,NaN,3479,NaN,0,0,CHI PHÍ (TC)
3752,9945,TIẾN ĐỘ THỰC HIỆN NHIỆM VỤ_9945,0,NaN,3696,NaN,1,1,TIẾN ĐỘ THỰC HIỆN NHIỆM VỤ
3866,10845,DÒNG TIỀN RÒNG_10845,0,1.0,3978,NaN,1,1,DÒNG TIỀN RÒNG
3867,10846,DÒNG TIỀN VỀ_10846,0,NaN,3978,NaN,1,1,DÒNG TIỀN VỀ
3874,10856,Tập Đoàn Copy,0,NaN,2877,NaN,0,0,Tập Đoàn Copy

In [88]:
dashboard_id[dashboard_id['DASHBOARD_NAME']=='VTC']

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID,check_,check_2,DASHBOARD_NAME_NEW
1791,2690,VTC,1,NaN,1793,NaN,0,0,VTC
1894,1535,VTC,1,1.0,1338,NaN,0,0,VTC
3116,1824,VTC,1,1.0,1432,NaN,0,0,VTC
3209,2701,VTC,1,NaN,1794,NaN,0,0,VTC

In [103]:
dashboard_id[dashboard_id['ID']==2354]

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID,check_,check_2,DASHBOARD_NAME_NEW
3185,2354,Tập Đoàn,1,NaN,1631,NaN,0,0,Tập Đoàn

In [104]:
dashboard_id[dashboard_id['PROFILE_ID']==1631]

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID,check_,check_2,DASHBOARD_NAME_NEW
638,5715,Thuê bao VIETTEL MONEY,0,NaN,1631,5231.0,0,0,Thuê bao VIETTEL MONEY
752,6407,DỊCH VỤ TV360,0,NaN,1631,7531.0,0,0,DỊCH VỤ TV360
929,7755,DOANH THU DỊCH VỤ & SẢN XUẤT,0,NaN,1631,6191.0,0,0,DOANH THU DỊCH VỤ & SẢN XUẤT
1964,2374,Doanh thu dịch vụ,0,NaN,1631,1710.0,0,0,Doanh thu dịch vụ
1978,2376,Thuê bao di động phát triển thực,0,NaN,1631,1711.0,0,0,Thuê bao di động phát triển thực
1979,2378,Thuê bao 4G phát triển thực,0,NaN,1631,1712.0,0,0,Thuê bao 4G phát triển thực
2022,2507,Dán thẻ epass,0,NaN,1631,1813.0,0,0,Dán thẻ epass
2983,2355,Tổng doanh thu,0,NaN,1631,1706.0,0,0,Tổng doanh thu
2984,2356,Tiêu dùng thực di động,0,NaN,1631,1707.0,0,0,Tiêu dùng thực di động
2985,2357,Thuê bao register,0,NaN,1631,1709.0,0,0,Thuê bao register
3185,2354,Tập Đoàn,1,NaN,1631,NaN,0,0,Tập Đoàn
3444,9936,Thuê bao MOBILE MONEY,0,NaN,1631,7771.0,0,0,Thuê bao MOBILE MONEY
3471,9935,Thuê bao MOBILE MONEY,0,NaN,1631,NaN,0,0,Thuê bao MOBILE MONEY
3500,10435,Tổng doanh thu Copy,0,NaN,1631,NaN,0,0,Tổng doanh thu Copy
3526,9776,THUÊ BAO TRUYỀN HÌNH,0,NaN,1631,7511.0,0,0,THUÊ BAO TRUYỀN HÌNH
3611,9775,Thuê bao FTTH,0,NaN,1631,1713.0,0,0,Thuê bao FTTH
3644,10215,TIẾN ĐỘ THỰC HIỆN NHIỆM VỤ,0,NaN,1631,6235.0,0,0,TIẾN ĐỘ THỰC HIỆN NHIỆM VỤ
3813,10877,Doanh thu dịch vụ VTTN,0,NaN,1631,8551.0,0,0,Doanh thu dịch vụ VTTN

## Check each profile_id has only 1 dashboard_type value 1

In [78]:
statistic = dashboard_id.groupby('PROFILE_ID').agg({'DASHBOARD_TYPE': 'sum'}).reset_index()
statistic[statistic['DASHBOARD_TYPE']!=1]['PROFILE_ID']

     PROFILE_ID  DASHBOARD_TYPE
0           510               4
2          1270              10
5          1333              13
6          1335              10
7          1336              13
9          1340              10
10         1341              19
11         1342              28
12         1343              19
13         1350              34
14         1351              19
15         1353              13
16         1354              34
17         1355              13
18         1356              16
19         1357              13
20         1370              34
21         1371              13
22         1413              34
23         1432              13
24         1433              34
25         1434              13
26         1450              19
27         1451              31
28         1452              34
29         1453              13
30         1454              13
31         1455              34
32         1457              34
33         1458              13
74         1611               2
75         1612               0
77         1630               4
81         1731               2
83         1792               4
90         1854               7
91         1855               4
93         1857               7
96         1860               7
97         1861               4
99         1863               4
100        1864               7
107        1930               4
118        1941               4
121        1953               7
267        2315               0
275        2376               0
299        2976               4
302        3036               0

In [64]:
dashboard_id

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID,check_,check_2,DASHBOARD_NAME_NEW
0,3581,Doanh thu dịch vụ nhóm VTT,0,NaN,2028,2773.0,0,0,Doanh thu dịch vụ nhóm VTT
1,3582,Doanh thu dịch vụ nhóm VDS,0,NaN,2028,2778.0,0,0,Doanh thu dịch vụ nhóm VDS
2,3517,Doanh thu dịch vụ SME,0,NaN,2023,2721.0,0,0,Doanh thu dịch vụ SME
3,3518,Doanh thu dịch vụ di động,0,NaN,2023,2717.0,0,0,Doanh thu dịch vụ di động
4,3519,Doanh thu dịch vụ nhóm VTS,0,NaN,2023,2722.0,0,0,Doanh thu dịch vụ nhóm VTS
...,...,...,...,...,...,...,...,...,...
3889,10765,Tổng doanh thu (trừ hubbing)_10765,0,NaN,3941,2422.0,1,1,Tổng doanh thu (trừ hubbing)
3890,10766,Tổng doanh thu tài chính_10766,0,NaN,3941,2424.0,1,1,Tổng doanh thu tài chính
3891,10767,Doanh thu bán hàng giải pháp CNTT_10767,0,NaN,3941,2453.0,1,1,Doanh thu bán hàng giải pháp CNTT
3892,10768,Doanh thu bán hàng y tế_10768,0,NaN,3941,2450.0,1,1,Doanh thu bán hàng y tế
3893,10815,VTS,1,NaN,1959,NaN,0,0,VTS

In [65]:
dashboard_id[dashboard_id['PROFILE_ID']==2028]

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID,check_,check_2,DASHBOARD_NAME_NEW
0,3581,Doanh thu dịch vụ nhóm VTT,0,NaN,2028,2773.0,0,0,Doanh thu dịch vụ nhóm VTT
1,3582,Doanh thu dịch vụ nhóm VDS,0,NaN,2028,2778.0,0,0,Doanh thu dịch vụ nhóm VDS
748,6403,Hải Phòng,1,NaN,2028,NaN,0,0,Hải Phòng
2493,3574,Doanh thu dịch vụ nhóm VTS,0,NaN,2028,2777.0,0,0,Doanh thu dịch vụ nhóm VTS
2494,3575,Thuê bao FTTH,0,NaN,2028,2769.0,0,0,Thuê bao FTTH
2495,3576,Thuê bao di động phát triển thực,0,NaN,2028,2771.0,0,0,Thuê bao di động phát triển thực
2496,3577,Thuê bao 4G phát triển thực,0,NaN,2028,2770.0,0,0,Thuê bao 4G phát triển thực
2497,3578,Tổng doanh thu dịch vụ,0,NaN,2028,2774.0,0,0,Tổng doanh thu dịch vụ
2498,3579,Thuê bao register,0,NaN,2028,2768.0,0,0,Thuê bao register
2499,3580,Doanh thu dịch vụ cố định băng rộng,0,NaN,2028,2775.0,0,0,Doanh thu dịch vụ cố định băng rộng
2703,3572,Doanh thu dịch vụ SME,0,NaN,2028,2776.0,0,0,Doanh thu dịch vụ SME
2704,3573,Doanh thu dịch vụ di động,0,NaN,2028,2772.0,0,0,Doanh thu dịch vụ di động

In [57]:
print(type(dashboard_id['ID'].loc[0]))

<class 'numpy.int64'>

In [46]:
a = dashboard_id[dashboard_id['DASHBOARD_TYPE']==1]['DASHBOARD_NAME'].value_counts()
b = a[a==1]
b.index

Index(['Dashboard Quản lý tài sản', 'Hà Nội_10385', 'Hà Nội_10695',
       'Dashboard Xi măng cẩm phả', 'Dashboard VTX', 'Dashboard M1',
       'Tập đoàn_10935', 'Dashboard Khối CNTT', 'Tập Đoàn_9986',
       'Dashboard Khối Xây lắp', 'VTT_10996', 'VTAca_10337_10357', 'STL_9954',
       'MOV_10142', 'Tập Đoàn_9926', 'Tập Đoàn_10186', 'Tập Đoàn_10006',
       'VTAca_10337', 'TẬP ĐOÀN_2347', 'VTPost_9840', 'Dashboard VHT',
       'KHỐI CNTT', 'Dashboard Media', 'VTN', 'THI PHẦN', 'Bến Tre', 'Bến tre',
       'Cao Bằng', 'VTE', 'NCSX', 'VTT_8156', 'VTA', 'BDS', 'MẶC ĐỊNH', 'VTK',
       'Dashboard XNK', 'VMC', 'MEDIA', 'Cao bằng',
       'Kết quả sản xuất kinh doanh_2261', 'Kết quả sản xuất kinh doanh',
       'Tổng doanh thu', 'VTSport', 'XI MĂNG CẨM PHẢ', 'QUẢN LÝ TÀI SẢN',
       'KHỐI XÂY LẮP', 'VTS_10763'],
      dtype='object')

In [44]:
a = dashboard_id[dashboard_id['DASHBOARD_TYPE']==1]['DASHBOARD_NAME'].value_counts()
b = a[a==2]
b.index

Index(['Bình Định', 'Bắc Kạn', 'XNK', 'Hà Giang', 'VTX', 'Lào Cai', 'Lai Châu',
       'Đồng Nai', 'Phú Thọ', 'Đà Nẵng', 'Đắc Nông', 'Hồ Chí Minh', 'Đắc Lắc',
       'VTAca', 'Ban CNTT', 'TVTK', 'Hà Nội', 'Bắc Ninh', 'Khánh Hoà', 'NCM',
       'Q.Ba Đình', 'CTM', 'Dashboard KGM', 'Dashboard ANM', 'VTB',
       'KHỐI VTNN', 'VCM', 'VBD', 'Khối tỉnh/TP', 'KHỐI VTTN', 'NAT', 'VHT',
       'ĐƠN VỊ KHÁC', 'KHỐI THƯƠNG MẠI VÀ LOGISTICS',
       'KHỐI NC VÀ SX THIẾT BỊ CNC', 'Dashoard Văn phòng tập đoàn',
       'CÔNG TRÌNH', 'M1', 'TƯ VẤN THIẾT KẾ', 'CÔNG TY MẸ', 'Hưng Yên',
       'Bình Thuận', 'Nghệ An', 'Cà Mau', 'Lâm Đồng', 'Đồng Tháp', 'Ninh Bình',
       'Nam Định', 'Ninh Thuận', 'Phú Yên', 'Quảng Bình', 'Điện Biên',
       'Quảng Ninh', 'Cần Thơ', 'Quảng Ngãi', 'Quảng Nam', 'Hòa Bình',
       'Sơn La', 'An Giang', 'Sóc Trăng', 'Thái Bình', 'Tiền Giang',
       'Thái Nguyên', 'Tuyên Quang', 'Bạc Liêu', 'Trà Vinh', 'Bình Dương',
       'Vĩnh Phúc', 'Gia Lai', 'Lạng Sơn', 'Thừa Thiên Huế', 'Bà Rịa Vũng Tàu',
       'Hà Tĩnh', 'Bình Phước', 'Yên Bái', 'Quảng Trị', 'Thanh Hoá',
       'Hải Phòng', 'Hà Nam', 'Hậu Giang', 'Kiên Giang', 'Vĩnh Long',
       'Kon Tum', 'Tây Ninh', 'Hải Dương', 'Long An', 'VTNet', 'Bắc Giang'],
      dtype='object')

In [47]:
a = dashboard_id[dashboard_id['DASHBOARD_TYPE']==1]['DASHBOARD_NAME'].value_counts()
b = a[(a!=2)&(a!=1)]
b.index

Index(['VTT', 'Tập Đoàn', 'VTS', 'VDS', 'VTG', 'TẬP ĐOÀN', 'IDC', 'MOV', 'VTL',
       'VTC', 'STL', 'VTZ', 'VTM', 'BƯU CHÍNH', 'VTCC', 'VTP', 'MYN', 'VCS',
       'M3', 'VCC', 'VDTC', 'VTPost', 'XMCP', 'Tập đoàn'],
      dtype='object')

## Danh sách chỉ tiêu của Dashboard

In [48]:
dashboard_id

,ID,DASHBOARD_NAME,DASHBOARD_TYPE,ORDER_INDEX,PROFILE_ID,MENU_ITEM_ID
0,3581,Doanh thu dịch vụ nhóm VTT,0,NaN,2028,2773.0
1,3582,Doanh thu dịch vụ nhóm VDS,0,NaN,2028,2778.0
2,3517,Doanh thu dịch vụ SME,0,NaN,2023,2721.0
3,3518,Doanh thu dịch vụ di động,0,NaN,2023,2717.0
4,3519,Doanh thu dịch vụ nhóm VTS,0,NaN,2023,2722.0
...,...,...,...,...,...,...
3889,10765,Tổng doanh thu (trừ hubbing)_10765,0,NaN,3941,2422.0
3890,10766,Tổng doanh thu tài chính_10766,0,NaN,3941,2424.0
3891,10767,Doanh thu bán hàng giải pháp CNTT_10767,0,NaN,3941,2453.0
3892,10768,Doanh thu bán hàng y tế_10768,0,NaN,3941,2450.0
3893,10815,VTS,1,NaN,1959,NaN

## Chỉ tiêu dựa trên service_id

In [184]:
service_gbtd = pd.read_csv("/Users/tranxuanhuy/Documents/Viettel Digital Talent/Chatbot/Code/data/SERVICE_GBTD_202309051334.csv")
service_gbtd

,SERVICE_ID,SERVICE_NAME,DESCRIPTION,TYPE_ID,CAL_RATE,ID,SERVICE_DISPLAY,UNIT_ID,UNIT_CODE,SERVICE_TYPE,THRESHOLD_TYPE,STATUS,FOMULAR_DESCRIPT,UPDATE_TIME,UPDATE_USER,ORDER_INDEX,TYPE_PARAM,SERVICE_TYPE_PARAM,IS_LEAF
0,7213.0,Trạm Km 124+720 - QL19,NaN,NaN,NaN,200514,Trạm Km 124+720 - QL19,84.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,0.0
1,813.0,TS TB lũy kế,lantt_20161018,3.0,NaN,1923,TS TB lũy kế,1.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,5.0,1.0
2,814.0,TB20KPSC TS TB tăng/giảm,lantt_20161018,2.0,NaN,1924,TB20KPSC TS TB tăng/giảm,1.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,6.0,0.0
3,815.0,TT TB lũy kế,lantt_20161018,3.0,NaN,1925,TT TB lũy kế,1.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,5.0,1.0
4,871.0,Doanh thu chuyển phát trong nước,longpt-20161018,1.0,NaN,1927,DT chuyển phát trong nước,2.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5852,1250057.0,Chuyển khoản ngoài hệ thống,NaN,7.0,NaN,203037,Chuyển khoản ngoài hệ thống,44.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,1.0
5853,1250060.0,Nạp tiền,NaN,7.0,NaN,203038,Nạp tiền,44.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,0.0
5854,1250062.0,Nạp từ tài khoản liên kết,NaN,7.0,NaN,203039,Nạp từ tài khoản liên kết,44.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,1.0
5855,1250066.0,Chuyển khoản về tài khoản ngân hàng liên kết,NaN,7.0,NaN,203040,Chuyển khoản về tài khoản ngân hàng liên kết,44.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,1.0
5856,1250069.0,Nạp tiền,NaN,2.0,NaN,203041,Nạp tiền,2.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,0.0

In [201]:
service_gbtd[service_gbtd['SERVICE_ID']==143]

,SERVICE_ID,SERVICE_NAME,DESCRIPTION,TYPE_ID,CAL_RATE,ID,SERVICE_DISPLAY,UNIT_ID,UNIT_CODE,SERVICE_TYPE,THRESHOLD_TYPE,STATUS,FOMULAR_DESCRIPT,UPDATE_TIME,UPDATE_USER,ORDER_INDEX,TYPE_PARAM,SERVICE_TYPE_PARAM,IS_LEAF
1912,143.0,DOANH THU DỊCH VỤ (chi tiết),Cập nhật ngày 03/02/2016. PKD confirm bỏ các c...,1.0,NaN,2193,DTDV (chi tiết),2.0,NaN,1.0,1,1,DTDV,2021-10-31 17:49:41.000,170635,NaN,DTTD,1.0,0.0

In [196]:
service_gbtd[service_gbtd['SERVICE_NAME']!=service_gbtd['SERVICE_DISPLAY']]

,SERVICE_ID,SERVICE_NAME,DESCRIPTION,TYPE_ID,CAL_RATE,ID,SERVICE_DISPLAY,UNIT_ID,UNIT_CODE,SERVICE_TYPE,THRESHOLD_TYPE,STATUS,FOMULAR_DESCRIPT,UPDATE_TIME,UPDATE_USER,ORDER_INDEX,TYPE_PARAM,SERVICE_TYPE_PARAM,IS_LEAF
4,871.0,Doanh thu chuyển phát trong nước,longpt-20161018,1.0,NaN,1927,DT chuyển phát trong nước,2.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,0.0
6,872.0,Doanh thu Logistics,longpt-20161018,1.0,NaN,1930,DT Logistics,2.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,0.0
12,827.0,Doanh thu Logistics,longpt-20161018,1.0,NaN,1941,DT Logistics,2.0,NaN,1.0,1,1,DT Logistics,1970-01-01 07:00:00.000,NaN,NaN,DTTD,2.0,0.0
21,1453.0,Doanh thu nội bộ Viettel,NaN,1.0,NaN,1956,DT nội bộ Viettel,2.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,1.0,NaN
28,845.0,Doanh thu bản quyền,huyenvtm1 - 20161018,1.0,NaN,1967,DT bản quyền,2.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5391,1240027.0,DTDV-KH tài chính ngân hàng (SMS banking),272858/PYC-CL,1.0,NaN,202710,KH tài chính ngân hàng,2.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,1.0
5392,1240028.0,DTDV-KH khác (SMS banking),272858/PYC-CL,1.0,NaN,202711,KH khác,2.0,NaN,1.0,1,1,NaN,NaN,NaN,NaN,DTTD,2.0,1.0
5457,1300256.0,Tổng bưu gửi liên miền phát thành công,Tổng bưu gửi liên miền phát thành công\r\n,NaN,NaN,202808,Tổng bưu gửi liên miền phát thành công,160.0,NaN,905.0,1,1,NaN,2022-11-01 09:07:25.000,269413,NaN,KPI_BC,2.0,1.0
5458,1500256.0,Tổng bưu gửi liên miền phát thành công,Tổng bưu gửi liên miền phát thành công\r\n,NaN,NaN,202809,Tổng bưu gửi liên miền phát thành công,160.0,NaN,905.0,1,1,NaN,2022-11-01 09:07:25.000,269413,NaN,KPI_BC,2.0,1.0
5713,400041.0,Tỷ lệ đơn vị ra nghị quyết muộn,NaN,1.0,NaN,203102,Tỷ lệ đơn vị ra nghị quyết đúng hạn,23.0,NaN,905.0,1,1,NaN,NaN,NaN,NaN,CQCT,2.0,0.0

In [185]:
service_id = pd.read_csv("/Users/tranxuanhuy/Documents/Viettel Digital Talent/Chatbot/Code/data/SERVICE_ID_infor.csv")
service_id

       SERVICE_ID                  SERVICE_NAME
0             143  DOANH THU DỊCH VỤ (chi tiết)
1             143  DOANH THU DỊCH VỤ (chi tiết)
2             143  DOANH THU DỊCH VỤ (chi tiết)
3             970                     4G Lũy kế
4             971                  3G Tăng giảm
...           ...                           ...
57319        6003                  Chậm tiến độ
57320        6002                   Sắp đến hạn
57321        6003                  Chậm tiến độ
57322        6002                   Sắp đến hạn
57323        6003                  Chậm tiến độ

[57324 rows x 2 columns]

In [195]:
len(list(set(service_id['SERVICE_ID'])))

1171